<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta - Grana Simples</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-page">

<div class="login-container">

    <h1>Criar conta</h1>
    <p>Comece a organizar sua vida financeira</p>

    {% if erro %}
        <div class="toast toast-erro">{{ erro }}</div>
    {% endif %}

    <form method="POST" action="/register">
        <input type='hidden' name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="nome" placeholder="Seu nome" required>
        <input type="email" name="email" placeholder="Seu email" required>
        <input type="password" name="senha" placeholder="Crie uma senha" required>

        <button type="submit" class="btn">Criar conta</button>
    </form>

    <p class="auth-footer">
        Já tem conta?
        <a href="/login">Entrar</a>
    </p>

</div>

</body>
</html>